/* base style  */
*{
    margin: 0;
    padding: 0;
}
:root{
    --base-100:#FB773C;
    --primary-200:#180161;
    --secondary-300:#4F1787;
    --notpink-500:#EB3678;

    /* --font-family: Arial, sans-serif;  */
}

body{
    background-color:gray;
}

/* navbar start  */
svg{
    width: 25px;
}

ul{
    list-style: none;
}

.navbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 /* margin-top: 5px; */
 box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 padding: 15px;
 background-color: rgba(255, 255, 255, 0.3);
}

.menu__list ul{
    
    display: flex;
    gap: 18px;
}

/* menu list links  */

.menu__list ul li a{
    text-decoration: none;
    color: white;
}

.menu__list ul li a:hover{
    text-decoration: underline;
    color: var(--primary-200);
}

.navbar__toggle{
    display: none;
}
/* side-navbar-section  */
.side-bar{
    background-color: var(--notpink-500);
    width: 50%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    color: white;
    display: none;
}

.side-navbar-link ul{
    list-style: none;

}

.side-navbar-link ul a{
    text-decoration: none;
    color: aliceblue;
}

.side-navbar-link ul li{
margin-bottom:30px ;
text-align: center;
}
/* hover side menu  */
.side-navbar-link ul li:hover{
   text-decoration: underline;
    }

/* hero - section style      */
.hero{
 overflow: hidden;
 position: relative;
}
.hero img{
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    width: 100%;
}
.svg-wave svg{
    
    width: 600px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.6;
}
/* media query  */
@media(max-width:750px){
    .navbar__toggle{
        display: block;
    }
    .menu__list{
        display: none;
    }
}

