/* base style  */
*{
    margin: 0;
    padding: 0;
}
:root{
    --base-100:#FB773C;
    --primary-200:#180161;
    --secondary-300:#4F1787;
    --notpink-500:#EB3678;

    /* --font-family: Arial, sans-serif;  */
}

/* navbar start  */
svg{
    width: 25px;
}

ul{
    list-style: none;
}

.navbar{
 display: flex;
 justify-content: space-between;
 margin-top: 15px;
}

.menu__list ul{
    
    display: flex;
    gap: 5px;
}